[2021-01-28 01:52] bannerchi opened #2 "can not use this plugin"
#1  please see this

[2021-01-28 12:14] alexzaganelli commented on #2
Hi @bannerchi

I've just merged #1 . Thank you for your amazing contribution 🙏🏼

[2021-01-28 12:14] #2 closed

[2021-02-15 10:58] alexzaganelli opened #9 "Add contributors"
@all-contributors please add @alexzaganelli for ideas, code, design and bug.

[2021-02-15 11:08] #9 closed

[2021-02-18 10:47] bidoubiwa opened #13 "How do you add authentification for cypress"
Hello @alexzaganelli
I was testing out the code of your great plugin. I tried running the tests but they stopped at the login. Is there a way you can add authentification credentials (name and password) in an accessible way to make login automatic?

[2021-02-18 17:34] alexzaganelli commented on #13
Hi @bidoubiwa thank you for your interesting. I've added the login flow to the test. Feel free to pull and give it a try.

I hope to have helped you. Let me know.

[2021-02-19 10:51] #13 closed

[2021-02-25 11:09] creazy231 opened #16 "⚠️ Update / Fork with breaking changes"
Hello Alexandre. First of all thank you for the possibility to design email templates in Strapi.
I tried the plugin, but I encountered several errors in the latest version of Strapi with Lodash templating.

I have forked your project and made some adjustments. If you feel like it, you can check it out. The README should be mostly updated as well. Please note, that these adjustments **include break

[2021-02-25 11:52] alexzaganelli commented on #16
Hi @creazy231, first of thank you so much for your contribution and for your great work 🙏🏼

Honestly I think would be great also to leave for a while the old methods (w/ a deprecation message) then I'll happy to merge instantly. Only I need is to find some time to do that.

Thank you again.

@all-contributors please add @creazy231 for code, design and ideas.

[2021-02-25 11:57] alexzaganelli commented on #16
@all-contributors please add @creazy231 for code, design and ideas.

[2021-02-25 17:24] creazy231 commented on #16
Sounds awesome 👍
I'll add the old functions back again with a deprecated warning on function call and create a pull request you can comment on if you have questions or want to know whats happening here and there.

[2021-02-25 22:36] creazy231 commented on #16
@alexzaganelli just want to let you know that there is no way around removing this line in my opinion:

https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/main/services/email.js#L8

Reason: This line of code breaks http://localhost:1337/ (and maybe something else) because it prevents rendering html templates using `<%= variable %>` syntax. Strapi crashes with error 500 and a log by

[2021-02-25 22:42] creazy231 commented on #16
also have a working import / export function for templates in my fork 👍

[2021-02-25 23:12] alexzaganelli commented on #16
Thank you @creazy231, I would say let's proceed removing the line https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/main/services/email.js#L8

[2021-02-25 23:45] creazy231 commented on #16
Yea, sounds nice to me. I'll add back old functions as I mentioned and open up a pull request tomorrow 🚀

[2021-02-26 10:04] creazy231 commented on #16
🚀  PR: https://github.com/alexzaganelli/strapi-plugin-email-designer/pull/18
feel free to comment :)

[2021-03-04 10:24] alexzaganelli commented on #16
Hi @creazy231

Thank you again for your contribution. I've merged the PR #18 and had to do some adjustments. Concerning about this I'd inform you that the lines
https://github.com/creazy231/strapi-plugin-email-designer/blob/afcde3a877560d6be47b3aca07294572fdf3c106/admin/src/containers/HomePage/index.js#L205

and

https://github.com/creazy231/strapi-plugin-email-designer/blob/afcde3a877560d6be47b3a

[2021-03-04 10:24] #16 closed

[2021-03-04 11:43] creazy231 commented on #16
Hey @alexzaganelli

Thanks for the merge and also thanks for the adjustments. Didn't use Mongo before.
I'll see what I can do to improve this awesome plugin in the future :)

Best Regards,
Tobi

[2021-03-16 07:44] tbanys opened #20 "Subject field"
I would really appreciate if email designer plugin would have addition subject text field along side name and body.

[2021-03-16 08:58] Manukyanq opened #21 "Can not add custom font to template"
Hi there. Can I somehow add different fonts to my templates? Thanks in advance )
![image](https://user-images.githubusercontent.com/42891870/111282159-c1af6300-864e-11eb-945b-5b4d135771b7.png)

[2021-03-16 11:37] creazy231 commented on #21
This plugin uses unlayer to generate email templates. Currently there is no way to inject custom fonts into unlayer without editing the plugin itself.
But since unlayer supports custom font injection I think someone if not me could add this as a feature to the plugin to manage custom fonts inside the strapi backend.

[2021-03-16 11:40] creazy231 commented on #20
Already thought about and should be easy to implement.
When I find some time I'll create a PR for that feature.

[2021-03-17 09:28] VivianSolide opened #22 "Unable to delete and duplicate a template"
Hi there,

Thank you so much for this plugin!
Nevertheless, I stumbled upon this issue:
![image](https://user-images.githubusercontent.com/9358572/111445219-7ad37300-870b-11eb-9d25-d4f84cde11fd.png)

I'm unable to delete or even duplicate a template.
And the console is empty.

Cheers,

[2021-03-17 09:59] creazy231 commented on #22
Hey Vivian,
thanks for reporting this issue. For now you can duplicate or delete your templates using `EmailTemplates` in your Collection Types. As an alternative you can use my fork at https://github.com/creazy231/strapi-plugin-email-designer of you don't use Mongo.

@alexzaganelli maybe we could use `typeof deleteConfirmationModal === 'number'` here https://github.com/alexzaganelli/strapi-plugin

[2021-03-17 10:18] VivianSolide commented on #22
Thanks for your answer.
I will manage to do it.

Cheers,
:beer:

[2021-03-17 10:18] #22 closed

[2021-03-17 13:42] alexzaganelli commented on #22
Hi @VivianSolide thank you for interesting.
I've fixed this issue. Would be great if you can upgrade the email-designer and tell us if it now works.

Thank you @creazy231, we cannot use `typeof deleteConfirmationModal === 'number'` due in MongoDB the id is a string type. What I've actually done is check if `!isNil(deleteConfirmationModal) && deleteConfirmationModal !== false`. Should now work in b

[2021-03-17 13:58] VivianSolide commented on #22
Hello @alexzaganelli

It works!
Thank you :+1:

[2021-03-17 14:03] creazy231 commented on #22
Awesome, and a nice fix 👍

[2021-03-18 11:41] TasosBak opened #23 "Query templates by name"
Hello everybody and congratulations on the great work you are doing :)

The issue is that I am trying to get a certain template by its name and not the id and I can't get it to work. I am doing it like this: http://localhost:1337/email-designer/templates?name=Table where Table is the name of the template but I am still getting the array of the templates.

How could I go about implementing this?

[2021-03-19 07:14] tbanys commented on #23
Hi, @TasosBak

As I can see the endpoint which you are calling is not accepting any params, You can see it here: https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/main/controllers/designer.js#L30

In the meantime you can write your own endpoint and query to fetch template by name.
This is an example of query:

[code]

[2021-03-19 07:41] tbanys commented on #21
@creazy231 maybe you can send example where I could see how to add custom fonts?

I would try to add it for my project.

[2021-03-19 10:40] creazy231 commented on #21
@tbanys sure, it's documented here: https://docs.unlayer.com/docs/font-management
but I just noticed, that this is a Premium Feature for Unlayer but maybe you can find something is working for you

[2021-03-19 14:49] alexzaganelli commented on #20
Hi @tbanys

I've just added the [feature](https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/403fa70dcece7a302f8028207eb66a91c00c6832) you've requested.

Please let us know if it works for you.

[2021-03-19 14:51] alexzaganelli commented on #23
Hi @TasosBak have you already tried this in your code:

[code]

[2021-03-19 14:54] #23 closed

[2021-03-19 14:54] #20 closed

[2021-03-31 19:44] #21 closed

[2021-03-31 22:10] creazy231 opened #25 "Updating to 0.2.9 results in empty templates"
Hey just updated to the newest version 0.2.9 and after running `yarn && yarn build && yarn develop` all my created templates are empty.
Took a look into the network tab and can't see any query to the templates anymore. I think thats the reason for the problem.

[2021-03-31 22:36] creazy231 commented on #25
Problem appears here: https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/main/admin/src/containers/Designer/index.js#L92
If I remove `!emailEditorRef.current` everything works but I don't know why, I'm not an react expert tbh.

[2021-04-01 20:21] pr0gr8mm3r commented on #25
Just noticed that too. That line hasn't changed, but [line 206](https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/151737406de22310a87ee7ceeeb3d5cc3a1598d3/admin/src/containers/Designer/index.js#L206) did. Because `configLoaded` is only set to true after that check, nothing is loaded. I will look into a fix.

[2021-04-01 20:34] pr0gr8mm3r commented on #25
Ok, so I added that check in line 206 to delay initialization until the config was loaded, because the unlayer editor doesn't update even when using state. I'm also pretty new to react, so any input is appreciated.

@alexzaganelli is there a way to undo publishing 0.2.9 or set the latest stable version back to 0.2.7?

[2021-04-01 20:46] pr0gr8mm3r commented on #25
Ok, the solution seems to be to re-run that side-effect once the config has loaded. To me that seems a bit hacky, but it works and it's the only thing I can come up with with my limited knowledge...

[2021-04-05 21:52] #25 closed

[2021-04-07 22:33] linjohnjohn opened #28 "template_id error with sendgrid"
Hello!

I was playing around with this plugin along with sendgrid as the email provider and I ran into this issue

![image](https://user-images.githubusercontent.com/31906884/113942513-e66ea480-97ce-11eb-9c98-7d1cdd734d18.png)

This is the code/endpoint that I am testing

[code]

I believe this issue might be related to sendgrid supporting a templating feature as well along with the fact that the

[2021-04-08 20:43] BeanSampa commented on #28
Sorry to post if I'm breaking any rules.
I am an old man of old technologies, so Github, Node and STRAPI are new to me.
I got success using a NODEMAILER provider.
But, I did the changes below in /services/emails.js
Should I do this? I really do not know.
I just want to help (and try to resolve my demand).

[code]

[2021-04-09 13:42] linjohnjohn commented on #28
@BeanSampa I think that would work with the sendgrid provider since templateId is no longer being passed along.

The fix I actually did on a local fork was removing requiredAttributes from this array

https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/df99b1a5fd35c580b57980fa917a500d6652fd11/services/email.js#L32

[2021-04-23 14:42] ashmore11 commented on #28
I'm also running into this issue. Trying to avoid having to fork the repo.

@linjohnjohn Did you find a fix or maybe you could submit a PR with your forked fix?

[2021-04-23 16:01] linjohnjohn commented on #28
@ashmore11 Yes I was able to fix this by removing ...requiredAttributes from the line mentioned above.

I held off on submitting any PR as I'm not sure how "legit" this fix is--maybe requiredAttributes will contain something in the future that actually needs to be included within the attributes array

[2021-04-23 16:28] ashmore11 commented on #28
Thanks for the response @linjohnjohn!

I managed to avoid forking but just creating a new file in my app and pasting in the entire `strapi-plugin-email-designer/services/email.js` and just updating it like you mentioned. Works like a charm :)

[2021-04-23 16:33] alexzaganelli commented on #28
Hi guys,

I hope to have a bunch of time during the weekend to face this boring incompatibility w/ SendGrid.
You'll notified by GitHub when/if I'll be able to push the fix.

Have a great time.

[2021-04-24 22:22] alexzaganelli commented on #28
Everything should be now fixed. Please, try the new version and reopen this issue if you find a bug 🐛

[2021-04-24 22:22] #28 closed

[2021-05-14 08:00] tention opened #30 "Issue with sendTemplatedEmail"
Tried triggering email using sendTemplatedEmail with the following codes but encountered Bad Request 400 error, and the weird part is there was no error message returned. Using v0.4.1.

[code]

This is the debug error from Strapi, which is an empty error.

[code]

The response from API call is empty as well.
[code]

Sending email using the old API works but flagged as depreciated.

[code]

Couldn'

[2021-05-16 07:32] tention commented on #30
I was doing some debug just now and got it working. Error seems to be caused by Heading in the template.

I have the following in a HEADING widget in the email designer.
[code]

However it failed when passing through the following function, so I have added _console.log(emailTemplate);_ before the following code.
[code]

For the console output of emailTemplate.text, instead of getting <%=type%>, it

[2021-05-18 13:35] creazy231 commented on #30
Hey @tention, could you give it a try using `<%= type %>` in your template (with the spaces) and see if it works? Documented here https://lodash.com/docs/4.17.15#template using this exact syntax should make it work and also does it for me.

[2021-05-19 01:47] tention commented on #30
I tried that, but unfortunately it doesn't work.

![Capture](https://user-images.githubusercontent.com/16015050/118744481-fe821b00-b886-11eb-9374-ebd97b973777.PNG)

![Capture2](https://user-images.githubusercontent.com/16015050/118744488-017d0b80-b887-11eb-9456-e23a5245e379.PNG)

Will be getting following error if I do not provide both the variables, one in full uppercase.

[code]

[2021-05-19 07:39] creazy231 commented on #30
The only thing I could imagine at this point is, that the string is set to uppercase in the builder itself and therefore renders the html and text as uppercase variables. Could you give it a check please? You could also see the output as html and text inside the database. Are your variables stored as uppercase there?

[2021-05-19 07:50] tention commented on #30
Here's the snippet from the design jsonb column.

[code]

And here's the one from bodyHtml.

[code]

Both looks normal to me, without uppercase.

[2021-05-27 14:54] TasosBak commented on #30
Hello guys! Where is the following code supposed to be added?
`  try {
    await strapi.plugins['email-designer'].services.email.sendTemplatedEmail(
      {
        to: 'to@example.com', // required
        from: 'from@example.com', // optional if /config/plugins.js -> email.settings.defaultFrom is set
        replyTo: 'reply@example.com', // optional if /config/plugins.js -> email.settings.defaul

[2021-05-28 14:40] creazy231 commented on #30
You can use this code everywhere in your custom code. For example: `strapi/api/**/controllers/**.js`.

[2021-05-30 07:21] TasosBak commented on #30
Thank you very much! I will look into it!

[2021-06-06 18:57] pitops opened #31 "importing templates to production build shows no success/error message"
I had to manually refresh the page to see my imported templates. I think that it can be improved easily with a simple dialog or something

[2021-06-06 18:58] pitops opened #32 "Github star says it only shows on development but i see it in production"
![Screenshot 2021-06-06 at 9 57 39 PM](https://user-images.githubusercontent.com/9624361/120936759-3657e200-c712-11eb-8f9b-054519e32fa1.png)

When you hover the X button it says that is only shows in dev env, but i am seeing it on my production build

[2021-06-06 18:59] pitops opened #33 "The templates are not committed in source code?"
Email designer is a really nice plugin, however, I would expect that when I saved a template it would commit it alongside the source code. Am I missing something?

[2021-06-07 07:39] alexzaganelli commented on #31
Thank you for your contribution @pitops
I'm sure that someone (or me) will enhance soon

[2021-06-07 07:39] #30 closed

[2021-06-07 07:58] alexzaganelli commented on #32
Thank you @pitops
I've fixed the issue and after the tests I'll publish the new release soon.

[2021-06-07 07:58] #32 closed

[2021-06-07 07:59] alexzaganelli commented on #33
Can you please explain with some example? I can't get the point.

[2021-06-07 08:41] #31 closed

[2021-06-09 18:28] pitops commented on #33
So, imagine i create the templates on development env. How can i have them on production automatically?

[2021-06-09 18:30] pitops opened #35 "Can we insert dynamic content?"
I am trying to create an eshop, which means i need to send the order summary by email. Is it possible to pass a variable (e.g an array of items) and display them in a table somehow?

[2021-06-09 20:26] alexzaganelli commented on #33
Umh, the templates are not supposed to be hardcoded 🤔. Anyway you can export them from development environment to then import them in production env.

[2021-06-09 23:52] creazy231 commented on #35
Did you take a look into the README.md? You can use variables, yes.

[2021-06-10 06:33] pitops commented on #33
Can you explain to me why they are not supposed to be hardcoded?

[2021-06-10 06:35] pitops commented on #35
I did and i did make use of variables however, i had to build the whole html design manually for the dynamic variable part because its an array of things and not a single value. So it kind of defeats the purpose of using an email designer if half of my html is in the template and half of it is in the code.

Would be nice if there was a way to loop through items and dynamically build a design from

[2021-06-10 08:11] alexzaganelli commented on #33
Normally the informations are saved in a DB, like the users, products (for an ecommerce), comments, settings, etc etc.

If you prefer you can get the code generated by the plugin and save it in your controllers/services files.
Anyway, feel free to develop this functionality based on your idea and make a PR in the dev branch.

[2021-06-10 08:23] alexzaganelli commented on #35
The README file say that the plugin use the [lodash templating language](https://lodash.com/docs/4.17.15#template). Have you looked at that?
Actually I don't have the time to do a test but I guess you can do something like this in the body of the template:

[code]

I hope this is helpful for you

[2021-06-10 20:42] GuilleAngulo opened #36 "Error interpolating variables inside headings"
Hey, first of all thanks for creating this awesome plugin! 😃

### Description
When adding a variable at `data` object param (in `sendTemplatedEmail`), and used in the template inside a `heading` tag, lodash throws a _ReferenceError_. I think this is happening because the `htmlToText` function parses headings to uppercase, creating a mismatch when interpolating.

For example, using a variable `tota

[2021-06-10 23:01] alexzaganelli commented on #36
Thank you for have found the bug and provided the fix @GuilleAngulo !!
LGTM, I really appreciate

[2021-06-10 23:05] #36 closed

[2021-06-10 23:11] alexzaganelli commented on #36
@all-contributors please add @GuilleAngulo for bug, code.

[2021-06-10 23:35] GuilleAngulo commented on #36
Yay! happy it was useful!

[2021-06-11 10:43] #33 closed

[2021-06-11 10:43] #35 closed

[2021-06-21 02:26] xcivit opened #39 "Not everything is emails in the `emailOptions`"
To attach files to emails, you need to pass them in the `emailOptions` variables under the key `attachments` variable and assign a list of objects to it.
https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/090b414b6b695bf5d839066008e4debc1d2b2853/services/email.js#L21-L29
Possible solution:
Skip the validation for the attachment key:
[code]

[2021-06-21 09:37] alexzaganelli commented on #39
Thank you very much @xcivit for your contribution!

@all-contributors please add @xcivit for bug.

[2021-06-21 09:37] #39 closed

[2021-06-21 20:53] xsliii opened #42 "Problems with Strapi 3.6.3"
First of all, great work!

We tried to get this awesome plugin work with our strapi 3.6.3  version but on run up, the following error occured.

This would be so awesome, I can help somehow to get this fixed :)

Thank you!!

#12 1.155 > strapi build
#12 1.155
#12 2.149 Building your admin UI with development configuration ...
#12 3.257 ℹ Compiling Webpack
#12 10.79 Error: Module not found: Error: C

[2021-06-21 21:08] alexzaganelli commented on #42
I'm so sorry @xsliii
Please try to upgrade to the last 1.1.2 version and let me know. Thank you!

[2021-06-23 14:41] dappiu opened #43 "Issues with Strapi welcome page templating with plugin versions >1.0.0"
Hi there, first of all thanks for this wonderful plugin.

I'd like to report a strange behaviour I noticed about Strapi welcome page (the one on `/` route) when I upgraded the plugin from version 1.0.0 to version 1.2.1 (but I can confirm that also 1.0.1 and 1.1.1 are affected).

Removing the plugin is enough to get rid of the problem. I was initially thinking to the modification of the templating

[2021-06-23 22:46] alexzaganelli commented on #43
Hi @dappiu, (piacere di conoscerti)

I'm very happy you like the plugin!! The default Strapi Welcome page use the lodash's templating and, as you said, the new setting may had interfered with Strapi. Now it should be fixed on 🔖 1.1.3.

Please, let me know if you still meet strange behaviors.
Thank you

[2021-06-23 22:49] #42 closed

[2021-06-24 08:29] dappiu commented on #43
I can confirm the issue is solved in 1.1.3, I am closing this bug with a big Thank You for the quick intervention.
(il piacere è anche mio :)

[2021-06-24 08:29] #43 closed

[2021-06-24 12:03] xsliii commented on #42
works like a charm, thanks!

[2021-07-26 09:59] jpizzle34 opened #45 "Specify sender's name using the syntax "FirstName LastName <email@example.com>""
Hi All,

I am trying to send an email so that the recipient sees a human-friendly string (that I can specify dynamically), which accompanies the email address, e.g. it could be the sender's full name. However, I get an error when I use the following syntax:

```Jane Citizen <jane.citizen@example.com>```

Note: This syntax works when I send a test email from the Strapi Email Plugin Admin UI. Also,

[2021-07-26 10:36] jpizzle34 commented on #45
Looking closer at https://github.com/alexzaganelli/strapi-plugin-email-designer/blob/92e1a0fa01ae70d402f67098238b788341726dcc/services/email.js#L8-L9

It seems like the regex test fails if '<' '>' are included.

Also is this regex test necessary? Isn't the email validation carried out by the underlying strapi email provider?

Let me know what you guys think?

[2021-07-26 14:27] alexzaganelli commented on #45
Thank you for your great contributions @jpizzle34 on #46 !!

@all-contributors please add @jpizzle34 for enhancements.

[2021-07-26 14:27] #45 closed

[2021-07-26 14:28] alexzaganelli commented on #45
Thank you for your great contributions @jpizzle34 on #46 !!

@all-contributors please add @jpizzle34 for code.

[2021-08-09 14:12] TasosBak opened #48 "Base Url for photos"
Hello guys,

Is there a way to have a baseSrcUrl variable inside the template? The use case is that the project will run in multiple environments with different base urls (e.g. localhost:1337, another server's IP address etc). Another app will consume the email templates from strapi, populate the variables with the correct values with the help of a template engine and then send the email. The thin

[2021-08-09 20:20] meck93 opened #49 "[Feature]: API Access to Plugin Endpoints"
### Current Situation
In the `config/routes.json` file, for each route the policy `"admin::isAuthenticatedAdmin"` is defined which means it is required to be an authenticated Admin in order to retrieve or update the templates. In our case, we would like to programmatically backup the email templates. For this, we require to be able to query the `/templates` endpoint using an API user. We would lik

[2021-08-11 13:31] meck93 opened #50 "[Bug]: Importing Templates Changes TemplateId"
## Description
I have created a few templates using the local development environment. Adjusted the email code according to fetch the respective template via its `templateId`. Everything works great 🎉 Btw. thanks for the great work!

I exported the templates and tried to import them into our staging environment. But the problem is that the `id` of the template stored in the JSON file is used to cr

[2021-08-17 10:21] alexzaganelli commented on #50
Hi @meck93 , thank you a lot for your contribution and sorry for the delay. I'm abroad on holiday and there isn't the internet connection.

BTW As far as I can test, I see some little errors on your commit. For example:

- the new templateId's HTML input tag is too narrow therefore it's not possible to read the entire placeholder
- it's not a number input type therefore you can put char values. If

[2021-08-17 10:40] #49 closed

[2021-08-17 10:43] alexzaganelli commented on #48
Hi @TasosBak,  I'm actually abroad on holiday and I'm not able to help you but I'll try for sure as soon as I return home.

[2021-08-17 12:23] meck93 commented on #50
No worries at all. I didn't expect a fast response. Enjoy your holidays and some time offline 👍

I will fix this!
- either make the box larger (but the input will seldomly be larger than 5-10 numbers, right?
- or, make the placeholder text a shorter?

I will fix this as well!

The `sourceCodeTemplateId` has to be unique.
[code]

Therefore, creating a new template with an existing `sourceCodeTempla

[2021-08-19 09:30] meck93 commented on #50
@alexzaganelli once you have tested all the changes (after your holidays, don't rush 😄). Can you make a new release i.e. publish a new version of the npm package?

[2021-08-19 13:10] #50 closed

[2021-08-23 02:29] Husdady opened #57 "I get a white screen when I go to see the public role"
I installed your package to add a custom email template. I created a custom / contact endpoint, which sends a message to my email, when making a request to the endpoint I get a Forbidden 403, so I think the endpoint is not activated in the interface, enter roles, publish and get a white screen, is it a bug?

![image](https://user-images.githubusercontent.com/76859196/130381756-c7367c38-1d19-471b-a

[2021-08-23 04:41] meck93 commented on #57
hey @Husdady - I just realised the same. It looks like https://github.com/strapi/strapi/issues/10613 is the issue. I will open a PR to fix the issue until Strapi has fixed the issue themselves.

[2021-08-23 11:11] #57 closed

[2021-08-29 17:37] tadinski opened #59 "blank screen Strapi"
After installation I get a blank screen
Strapi versions tried: 3.6.2 and 3.6.8

Browser console log shows an error: Prism is not defined

<img width="1062" alt="Screenshot 2021-08-29 at 19 35 22" src="https://user-images.githubusercontent.com/6358371/131259896-55535273-a155-4e77-96c9-4d4ff45456fe.png">

[2021-09-03 08:41] meck93 opened #60 "Template Duplication: Failure `sourceCodeToTemplateId` not unique!"
## Bug Description
During the introduction of the new variable `sourceCodeToTemplateId` I forgot to test and update the duplicate functionality.
Currently, it no longer works as the `sourceCodeToTemplateId` is just copied and not removed.

### Error Message

[code]

[2021-09-04 10:10] #60 closed

[2021-09-14 08:04] meck93 commented on #60
@alexzaganelli can you build a new release to publish the latest version with the bugfix? thanks!

[2021-09-20 07:32] alexzaganelli commented on #59
Hi @tadinski

I can't reproduce this error. Have you already tried to delete the `node_modules` folder and run again the command `yarn`?

[2021-09-20 09:37] tadinski commented on #59
@alexzaganelli Yes, I tried it. Below is my package.json in case it can help reproduce the issue.

`{
  "name": "ua-backend",
  "private": true,
  "version": "0.1.0",
  "description": "A Strapi application",
  "scripts": {
    "develop": "strapi develop",
    "start": "strapi start",
    "build": "strapi build",
    "strapi": "strapi"
  },
  "devDependencies": {},
  "dependencies": {
    "knex": "

[2021-09-20 10:19] alexzaganelli commented on #59
I'm sorry @tadinski ,
I've just followed the instructions described on the README file and everything seems to works like a charm on my env.

May you please try to create a new project from scratch as described on the README?

Thanks

[2021-09-21 13:41] zguig52 opened #63 "Cannot duplicate a template"
Hi,

First thanks for the very good job and the quality of this project. I started to use it. I found a small issue on the latest version.

The DB column email_templates_sourceCodeToTemplateId has a unique constraint and when duplicating, the insert request is trying to insert this value, raising an error:
 warn Duplicate entry Error: insert into `email_templates` (`bodyHtml`, `bodyText`, `created

[2021-09-21 13:53] zguig52 commented on #63
To explain a bit further, this issue appears when sourceCodeToTemplateId has been set (even if removed later). When it is not, duplication is working.

[2021-09-25 08:51] styoe opened #64 "Attachments"
How do i specify attachments? What type are you expecting there?

[2021-10-01 14:52] meck93 commented on #63
It should be fixed by the latest release 1.1.7 and this commit https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/944db7c1537d5257ff9b118a7a76d0463fc01d25

[2021-10-15 06:56] B0rk3 opened #66 "Template Import: Failure sourceCodeToTemplateId not unique"
Hi everyone,

i encountered a similar issue to #60, when importing templates.
The error message is again that the `sourceCodeToTemplateId` is not unique:

[code]

[2021-10-25 14:03] #63 closed, assigned to nobody

[2021-10-25 14:17] #66 closed, assigned to nobody

[2021-11-03 13:49] nikzaugg opened #71 "Mailgun Attachments"
Hi there

I've noticed that it is not possible to append e-mail attachments when using mailgun for example.
The reason being that in the current `sendTemplatedEmail` function, it only allows `emailOptions` with key `attachments` but not `attachment` (as would be needed for mailgun). Basically it assumes that anything that is not `attachments` is an email address that needs to be checked, which is

[2021-12-27 06:54] PiotrAleksander opened #73 "URL and TOKEN variables"
Thanks for creating this designer plugin.
I've added a button to Set Password core template with the following:
`<%= URL %>?code=<%= TOKEN %>`
(it's taken from the original template). I've also tried lodash syntax:
`{{URL}}?code={{TOKEN}}`
but it does not work (URL and TOKEN are empty strings on the inbox side).
Though the first version used as an URL for an <a> tag works as expected.
Is it an iss

[2022-01-18 08:54] inovosel opened #74 "Strapi 4 support"
I couldn't get Email Designer running with Strapi 4. Is there a way to get it running or are there any plans for Strapi 4 support?

[2022-01-18 14:43] creazy231 commented on #74
Strapi v4 is currently not supported. I'd like to change this but I have not that much time to do so.

[2022-01-25 09:59] alexzaganelli commented on #74
Hi guys, the new plugin for the v4 is coming. Please be patient

[2022-02-03 17:05] #71 closed

[2022-02-08 00:05] alexzaganelli commented on #74
Hi guys

please follow this update:
https://github.com/alexzaganelli/strapi-plugin-email-designer/discussions/55#discussioncomment-2129484

[2022-02-08 00:11] alexzaganelli commented on #73
Hi @PiotrAleksander

I think the best solution could be to style a div giving to it the aspect of a button. I fear that the Button component from Unlayer encode the string, breaking the URL.

[2022-02-08 19:19] #74 closed

[2022-02-09 19:15] Moreno-dev opened #77 "Strapi v4, html and design variables never get filled."
While saving a template the html part doesn't get saved while the text part does. Analysing the React component it looks like that the variables design and html never receive their value from a function.
V 2.0.0 Strapi V 4.0.7

[2022-02-09 19:30] alexzaganelli commented on #77
May you please try the v2.0.1?
Thank you

[2022-02-09 19:45] Moreno-dev commented on #77
is it already available through NPM?

[2022-02-09 19:48] alexzaganelli commented on #77
Yes, since yesterday morning.
Please, let me known if you still have this issue.

[2022-02-09 20:09] Moreno-dev commented on #77
Same issue, when the /new endpoint gets called it doesn't get the bodyHtml in the body of the http request.
I've been looking a bit at the react component yesterday and it looks like the two variables that should receive their value in this chunk (Designer/index.js)

    let design, html;

    try {
      emailEditorRef.current.editor.exportHtml((data) => ({ design, html } = data));
    } catch (e

[2022-02-09 20:59] Moreno-dev commented on #77
emailEditorRef.current.editor.exportHtml(async data => {
      const {design, html} = data
      try {
        let response;
        if (templateId) {
          response = await request(`/${pluginId}/templates/${templateId}`, {
            method: 'POST',
            body: {
              name: templateData?.name || getMessage('noName'),
              templateReferenceId: templateData?.templateRef

[2022-02-09 21:34] Moreno-dev commented on #77
Also, in the /server/services/email.js file I had to change the strapi.query() function to the new strapi way of calling a plugin i.e. plugin::users-permissions.user, or in this case plugin::email-designer.email-template otherwise it would give an error because it couldn't find the appropriate model in the DB.

 if (templateReferenceId) {
      const response = await strapi.query("plugin::email-de

[2022-02-10 16:10] alexzaganelli commented on #77
Thank you very much for your contribution @Moreno-dev
Please try the v2.0.3 and if you still can't use the plugin I'd ask you to make a PR.

Ps. remember to re-build the admin with `yarn build`

[2022-02-10 16:29] Moreno-dev commented on #77
@alexzaganelli it looks like it's working now! Good job mate!

[2022-02-10 20:16] #77 closed

[2022-02-11 22:51] BayBreezy opened #78 "Unable to edit Strapi's core email templates"
Hey,

Thanks for rewriting this awesome plugin ❤.

When I try to load one of the core templates, I get a 400 response. Here is the endpoint logged:
http: GET /email-designer/core/user-address-confirmation (27 ms) 400

When the page gets loaded, it is an empty template.

After creating a design, clicking on the "Save design" triggers no action. Nothing happens.

Is there something that I need to ch

[2022-02-11 23:23] alexzaganelli commented on #78
Hi @BayBreezy thank you for your contribution.
May you please try the new v2.0.4 an try again?

Ps. there was a typo on a variable's name. This [commit](https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/45ec6f65e01d3e532d836d3d1b08d5999269ff66) should fix it.

[2022-02-11 23:47] #78 closed

[2022-02-12 10:01] Flowko opened #79 "[Strapi V4] Learn how to use templates link is not working"
![image](https://user-images.githubusercontent.com/35883748/153706676-4a4aa762-1fed-4ac1-b10c-8f7805cdab4d.png)

it redirects to this page http://localhost:1337/admin/plugins/email-designer/how-to and shows nothing

[2022-02-12 10:42] alexzaganelli commented on #79
Hi @Flowko

thank you for your signal. As you can imagine refactoring a plugin require a lot of time and I'm trying to do my best, working during my extra time. I'm on the _HowTo_ page since this morning and it should be updated soon. I left this task at the end since I think it's the less important.

[2022-02-12 10:45] Flowko commented on #79
ah yes i tottaly get it, thanks for the hard work mate

[2022-02-12 11:00] Flowko opened #80 "[Strapi V4] Cant add custom fonts to the template"
**Issue:**
the fonts list doesnt seem to show any fonts, even after i updated the config, ive rebuilt strapi again but with no luck
![image](https://user-images.githubusercontent.com/35883748/153708552-5f479f77-8665-4272-8258-bd6194ae0b40.png)
![image](https://user-images.githubusercontent.com/35883748/153708581-d2e10404-5864-4894-817e-b040bca3c7af.png)

**my config:**
its the same one provided in

[2022-02-12 12:55] alexzaganelli commented on #79
Should be fixed on v2.0.5 ([9140608](https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/914060835c55008c79b57ce09baa4a2c384f5e25))

[2022-02-12 12:55] alexzaganelli commented on #80
Should be fixed on v2.0.5 ([9140608](https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/914060835c55008c79b57ce09baa4a2c384f5e25))

[2022-02-12 14:33] Flowko commented on #80
@alexzaganelli working now, thanks alot

[2022-02-12 14:33] #80 closed

[2022-02-12 14:33] Flowko commented on #79
working on v2.0.5

[2022-02-12 14:33] #79 closed

[2022-02-12 14:51] Flowko opened #81 "[Strapi V4] the config doesnt seem to do anything"
ive updated some fields in the config, but it doesnt seems like its updating anything in the editor,
ive checked where the config gets called, and the request returns an empty html page instead of the config, not sure if its the cause the issue

![image](https://user-images.githubusercontent.com/35883748/153716095-68edf6d5-fbe7-4835-b449-8581127ee8df.png)

[2022-02-12 14:56] Flowko commented on #80
@alexzaganelli ah sorry to bother u, do u know how to include the fonts in the email, as it doesnt get styled when the email is sent, the text has the font familly but with no script attached to it, which makes it useless

**email template:**
![image](https://user-images.githubusercontent.com/35883748/153716244-bfb9c69f-9b14-4548-a497-615e8a60bd04.png)
**the email sent:**
![image](https://user-ima

[2022-02-12 16:04] Flowko opened #82 "[Strapi V4] Sends only one templates and skips the templateId,templateReferenceId params"
ive been trying to send other templates i created, but doesnt seem to work.

plugin version: 2.0.5

[code]

the weird thing is that it sends only the first one showing on the list, it skips the given params, if i go and try to update the references to change the order, it'll send the other tempalte instead, no idea why/how its doing this.

![image](https://user-images.githubusercontent.com/3588374

[2022-02-12 20:11] alexzaganelli commented on #81
Please, try the v2.0.6 with the new README.

[2022-02-12 20:11] alexzaganelli commented on #82
Please, try the v2.0.6 with the new README.

[2022-02-12 21:01] Flowko commented on #82
@alexzaganelli its not working, it breaks the strapi admin page
i see only a blank page
![image](https://user-images.githubusercontent.com/35883748/153728305-b0954c6e-15ea-4fef-a600-f6961530f95f.png)

[2022-02-12 21:14] Flowko commented on #82
@alexzaganelli its something related to script-src inside the middlewares

[code]

[2022-02-12 21:23] enflam3 opened #83 "[Strapi V4] Deploying Strapi 4.0.7 with this plugin version 2.0.6 gives Unsupported engine"
Hello, first of all thanks for this amazing plugin, I already checked it out, it saves me a lot of time building mail templates.

However problem is that after making everything working on local development I cannot deploy to production.
DigitalOcean App engine works with yarn command and throws this error:

yarn add strapi-plugin-email-designer
[3/5] Fetching packages...
error strapi-utils@3.6.8:

[2022-02-12 21:24] alexzaganelli commented on #82
I've missed some parameters during this [commit](https://github.com/alexzaganelli/strapi-plugin-email-designer/commit/4643c9008cbd56122c8ddd5d0c2009fa1dd66df8) 🧐

I've updated the README

[2022-02-12 21:28] alexzaganelli commented on #83
Hi @enflam3,

please use the latest release.

Run this command:

[code]

and let me know if it's working, thanks.

[2022-02-12 21:32] alexzaganelli commented on #83
Please, try to install only this plug-in and then also the others one at time.
The email-designer plug-in doesn't seem to have _strapi-utils_ as a dependency so I don't know why you get this error.

[2022-02-12 21:37] Flowko commented on #82
its fixed now, thanks alot

[2022-02-12 21:38] Flowko commented on #81
its working now thanks!

[2022-02-12 21:38] #81 closed

[2022-02-12 21:39] enflam3 commented on #83
yes, Iam very sorry I just found out that that was the other plugin I recently added: strapi-provider-email-gmail-2lo

[2022-02-12 21:41] Flowko opened #84 "[Strapi V4] Templates doesnt include the font styles in the email"
it doesnt get styled when the email is sent, the text has the font familly but with no font style/script attached to it

email template:
![image](https://user-images.githubusercontent.com/35883748/153729315-67ceaf6f-8d6a-4e45-95da-09c316072fa6.png)
the email sent:
![image](https://user-images.githubusercontent.com/35883748/153729309-c0a24188-2302-4862-8608-9fe8827f8c08.png)

[2022-02-12 21:41] alexzaganelli commented on #83
Don't worry. Please close the issue and good code 🚀

[2022-02-12 21:42] #83 closed

[2022-02-12 22:10] alexzaganelli commented on #84
A couple of questions:

- What email provider are you using?
- Have you tried the `strapi.plugin('email-designer').service('email').compose({ templateReferenceId, data })` to inspect the HTML code?

[2022-02-12 22:21] Flowko commented on #84
@alexzaganelli

- im using Sendgrid as the email provider.
- ive just tried it and checked the html code being returned, there's only one mention of the font i used, 'Pacifico' which is on the text i used it on, no mention of importing font styles or anything just normal styles
[code]

[2022-02-12 23:31] Flowko opened #85 "[Strapi V4] 😔 templates got deleted out of nowhere"
damn, well thats a weird one.

all the templates i created are gone, the last trace of what happened :
ive checked before it, nothing was out of the ordinary, all requests were 200
[code]

im using postgresql as the db, its hosted on heroku

[2022-02-13 13:44] alexzaganelli commented on #84
I think it's related to the unlayer's editor. I've develop a possbile workaround.
Please, try the new v2.0.9

[2022-02-13 13:48] alexzaganelli commented on #85
What's was your last action? Honestly I don't think it's could be related to this plug-in. There is only one `.delete` command and the `.update` ones couldn't erase nothing.

[2022-02-13 14:31] Flowko commented on #85
yeah it might've been something related to the db im using or how its configured, i noticed something a bit weird, that it doesnt save some changes, so when i try to rerun strapi again some changes are not even there anymore, ill close this for now,
#alwaysHitExport :)

[2022-02-13 14:31] #85 closed

[2022-02-13 14:34] alexzaganelli commented on #73
BTW the correct syntax should be `{{= VAR_NAME }}` and not `{{ VAR_NAME }}`

[2022-02-13 14:34] #73 closed

[2022-02-13 14:42] Flowko commented on #84
@alexzaganelli doesnt seem to work, still the same thing, ive removed the options.font from the config

i can see the google font link but its not applied inside the email

[code]

[2022-02-13 14:49] alexzaganelli commented on #84
Are you sure? I see correctly applied on this line:
`<span style="font-family: Pacifico, cursive; font-size: 14px; line-height: 19.6px;">Custom font ?</span>`

and if I save your con in an HTML file i see the right font family:

<img width="977" alt="ScreenShot 2022-02-13 at 15 48 46@2x" src="https://user-images.githubusercontent.com/1064582/153758617-3054fae7-1b35-4629-89e2-77d9a717173c.png">

Wh

[2022-02-13 14:56] Flowko commented on #84
im using Gmail

[2022-02-13 15:03] alexzaganelli commented on #84
Ok, the plugin seems to work correctly with the fonts, so you could close this issue.
Your issue could be addressed to GMail. Maybe [this article](https://www.litmus.com/blog/the-ultimate-guide-to-web-fonts) may help you.

[2022-02-13 15:04] Flowko commented on #64
@styoe @alexzaganelli  well i know I’m probably a little late to this, but it might help others:

just a side note im using sendGrid.
u can check this link for more details:
[Sending Email with Attachments using SendGrid](https://www.twilio.com/blog/sending-email-attachments-with-sendgrid)

**attachments**
should include an array of objects like this:
[code]

**small example with a png file:**

[c

[2022-02-13 15:05] Flowko commented on #84
ah i see, damn you google, i mean its a google product so it should be compatible with other products, thanks for checking this

[2022-02-13 15:05] #84 closed

[2022-02-13 15:08] alexzaganelli commented on #64
Thank you so much.

[2022-02-13 15:08] #64 closed

[2022-02-15 08:25] akilshadi opened #86 "Usage question"
In Github it is said that templateReferenceId must be used, but two templates can have the same templateReferenceId, how can make difference between them?
ID    ReferenceId    Name
-----------------------------------------
1.    1                         Template 1 v1
2.    1                        Template 1 v2
3.    1                        Template 1 v3

how i can specify that template with id=

[2022-02-15 10:21] akilshadi opened #87 ""LEARN HOW TO USE TEMPLATES" link displayed old code"
when man an "LEARN HOW TO USE TEMPLATES" clicked, he will see old deprecated code!

[2022-02-15 15:04] Flowko commented on #86
i see that templateId is not mentioned in the Read me.

its best to use it
You can get the templateId by copying it from the tempaltes page
![image](https://user-images.githubusercontent.com/35883748/154088850-317fdce9-1943-4e6f-8269-3682346af573.png)

[code]

[2022-02-15 15:12] Flowko commented on #86
ah okay i get it now

[2022-02-17 12:12] chudno opened #88 "Strapi 4.0.8: Could not load js config file node_modules\strapi-plugin-email-designer\strapi-server.js"
Cant't start dev server after plugin installation:

Building your admin UI with development configuration
i Compiling Webpack
√ Webpack: Compiled successfully in 10.90s
Admin UI built successfully
[2022-02-17 15:08:23.951] debug: ⛔️ Server wasn't able to start properly.
**[2022-02-17 15:08:23.953] error: Could not load js config file .\node_modules\strapi-plugin-email-designer\strapi-server.js: Un

[2022-02-22 13:47] michelwaechter opened #89 "Send mail via graphql"
Hey friends.

Nice package! Is there a possibility to send mails - created with designer - with an graphql mutation?

Would be a perfect feature!

[2022-03-05 23:36] NickVishwamitraJTY commented on #88
Recieving this error too. Had to uninstall this plugin as I couldn't figure it out

[2022-03-07 09:20] alexzaganelli commented on #88
Hi guys,

the '?' is the optional chaining operator introduced in @babel/preset-env, in ES2020.

Take a look [here](https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining)

[2022-03-07 09:20] #87 closed

[2022-03-10 09:39] evilrat opened #91 "Designer not loading"
There is no content in HTML Version tab ...it shows blank page

[2022-03-11 11:44] slegouffe commented on #91
Hi @evilrat !

You should RTFM ;-) :

[code]

[2022-03-18 12:36] #91 closed

[2022-04-02 01:57] saintego commented on #91
Can you post whole file?. Because I have this `module.exports = [
  {
    name: 'strapi::security',
    config: {
      contentSecurityPolicy: {
        directives: {
          'script-src': ["'self'", 'editor.unlayer.com'],
          'frame-src': ["'self'", 'editor.unlayer.com'],
          'img-src': [
            "'self'",
            'data:',
            'cdn.jsdelivr.net',
            'strapi.

[2022-04-04 06:15] saintego opened #92 "Designer not loading"
Hi,
I updated strapi from v3 to v4 and email-designer is not loading html version at all and text version and reference id I can edit, but it is not saved
I have my config/middleware.js
[code]
I don't have any plugin settings for this library
Can you help me what am I missing?

[2022-04-08 03:06] saintego commented on #92
I found that there is typo in readme.md. There is `config/middleware.js` and it should be `config/middlewares.js`

[2022-04-14 03:29] dzcpy opened #93 "Doesn't work with Strapi v4.1.8"
## Bug report

### Describe the bug

### Steps to reproduce the behavior

### Expected behavior

There is a babel error after upgrading Strapi to v4.1.8

### Screenshots

![image](https://user-images.githubusercontent.com/203980/163307982-1a2bdb93-ecb7-40b0-bc14-8556b50b9a8d.png)

### Code snippets

If applicable, add code samples to help explain your problem.

### System

- Node.js version:
- NPM

[2022-04-14 15:24] Flowko commented on #93
@alexzaganelli hi, hope u doing well!
a more detailed error, happens only on latest version of strapi `4.1.8`
`strapi-plugin-email-designer\\admin\\src\\pages\\HomePage\\index.js:150:10: ERROR: Transforming for-await loops to the configured target environment ("es2015") is not supported yet`

[2022-04-15 13:00] mattia-beta commented on #93
I'm on strapi 4.1.8 i've got the same error.

```node_modules/strapi-plugin-email-designer/admin/src/pages/HomePage/index.js:150:10: ERROR: Transforming for-await loops to the configured target environment ("es2015") is not supported yet\n```

[2022-04-18 19:44] kashkashio commented on #93
Any news? got the same issue.

[2022-04-21 08:08] #92 closed

[2022-04-21 08:17] alexzaganelli commented on #93
Thank you all for your contribution!
This issue should be fixed on 2.1.1

[2022-04-21 08:17] #93 closed

[2022-04-30 22:17] jonasstams opened #96 "Unable to run project after installation"
## Bug report

### Describe the bug

After installation I get the following error: error: Could not load js config file /node_modules/strapi-plugin-email-designer/strapi-server.js: Unexpected token '?'
Error: Could not load js config file /node_modules/strapi-plugin-email-designer/strapi-server.js: Unexpected token '?'

### Steps to reproduce the behavior

1. yarn add strapi-plugin-email-designer

[2022-05-06 22:09] lkjimy commented on #85
Had the same happen in my project, using MySQL here. Spent a long time getting things ready for this to happen for no apparent reason.

[2022-06-10 16:51] ihassansattar commented on #96
Did you manage to resolve this issue? I am getting the same error.

[2022-07-20 10:32] stevenlavine opened #99 "Template editor does not work as expected"
## Bug report

### Describe the bug

When I open the Email designer, I see the table of templates, but when I go to edit the template, the HTML and text tabs are blank. In DevTools. the following error is shown

[code]

I have a local dev environment using the same version of Strapi, Node and NPM/Yarn, however the designer works as expected.

### System

- Node.js version: 14.20.0
- NPM version: 6

[2022-07-23 01:22] Kyle772 opened #100 "Back button doesn't work properly"
## Bug report

### Describe the bug
It refreshes whatever page you're on

### Steps to reproduce the behavior

1. Go to edit a template
3. Click on go back (to the template navigation screen)
4. See error

### Expected behavior

Always goes to the template navigation

[2022-08-02 10:17] NickWhiu commented on #99
Now you seem to be getting a similar error as mine. I wonder if this applies - It may not, but I think it will.

Open your LocalStorage in developer tools, and check the key `strapi-admin-language`. For me, it was "null" where it should be something like "en". If it is null, delete the key or set it to "en". What is yours?

Why was it set to null for me? A bug, which I'm pretty sure ive fixed/patc

[2022-08-19 20:52] slipiduche opened #101 "Can't change shipper name"
HI, how can I change shipper name in custom templates?

[2022-08-20 16:35] Accrypt opened #102 "Add strapi role permission support"
## Feature request

### Summary

This is a fantastic plugin, but unfortunately it allows anyone by default to access the email designer plugin page.
Integration should be made with the strapi role based permissions to limit who can view and edit email templates.

### Why is it needed?

Strapi is built around the fact that only certain roles have access to certain features, this plugin should not b

[2022-09-16 14:45] adexzy1 commented on #91
i am facing this same issue and I wonder why this issue was closed

[2022-10-09 14:36] SalahAdDin commented on #100
Yeah, it is right, I can show a video from it:
Uploading Screen Recording 2022-10-09 at 17.35.14.mov…

[2022-10-11 14:59] sharkfin009 opened #103 "plugin installed but has error"
## Bug report
I have an unresponsive plugin, and an error in the console

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1 install plugin
go to menu item
try to use plugin

### Expected behavior

A clear and concise description of what you expected to happen.

To have a responsive application
### Screenshots

If applicable, add screenshots to help explain

[2022-10-13 00:04] BenGardiner123 commented on #99
Yes i have this issue as well ? Is there a fix for this?

[2022-10-23 12:41] BayBreezy commented on #103
Hey,

You may need to configure your middleware in Strapi to get rid of this error. It was also stated in the docs.

// ...
- "strapi::security",
+ {
+     name: "strapi::security",
+     config: {
+       contentSecurityPolicy: {
+         directives: {
+           "script-src": ["'self'", "editor.unlayer.com"],
+           "frame-src": ["'self'", "editor.unlayer.com"],
+           "img-src": [
+

[2022-10-23 12:49] BayBreezy commented on #101
Hey @slipiduche ,

You can check the `Email templates` settings for the two email created by Strapi in every project http://localhost:1337/admin/settings/users-permissions/email-templates

Clicking on the `Reset password` or `Email address confirmation` template will give the option to change the Shipper email

Ensure that the email config is done properly in your `config/plugins.{js|ts}` file:

[

[2022-11-02 09:46] marcowuethrich opened #104 "Support for Node 18"
## Feature request

### Summary

It would be nice if we could get the plugin working on Node 18.

### Why is it needed?

To develop local frontend applications on node 18 with a strapi CMS running parallel within the same node version. For a better developer experience.

Strapi supports already Node 18:
[code]

### Suggested solution(s)

Increasing the engines in the package.json and test the plug

[2022-11-04 10:30] AvinashUtekar opened #105 "Add pagination and filters in listview"
## Feature request
please add pagination and filters in email template list

### Why is it needed?
list is loading slow as we have 150+ templates

[2022-11-05 13:41] maslomeister opened #106 "Unable to save the design in production"
## Bug report

### Describe the bug

When trying to save template with something inside it, it 's not saved and shows "Warning: unable to save the design"

Doing all of the steps described below in development mode works as expected and saves template with content inside.

### Steps to reproduce the behavior

1. Start strapi in production mode
2. Create template containing headline
3. Save templat

[2022-11-07 14:12] #106 closed

[2022-11-08 17:08] darkcherrycreative opened #107 "Can't populate email templates in api when used as a relation"
I've got an api endpoint which has a oneToOne relationship with email templates

"Template": {
      "type": "relation",
      "relation": "oneToOne",
      "target": "plugin::email-designer.email-template"
    }

This works fine from the admin UI and i can select from the templates list, however when using the Strapi 3 version i also used to get the email template data in the REST data, there see

[2022-11-21 13:32] Chaitu17 opened #109 "Where to add email sending logic?"
### Discussed in https://github.com/alexzaganelli/strapi-plugin-email-designer/discussions/108

<div type='discussions-op-text'>

<sup>Originally posted by **Chaitu17** November 21, 2022</sup>
After creating the template design, in which file should we add the email sending logic in the repository(knowing filePath and function can be really helpful)? Can someone give a detailed explanation for the

[2022-11-28 04:54] paulVu commented on #104
I'm have a same problem with this one.
Do you know: how to uninstall this plugin, I can't deploy to production.
thanks

[2022-11-29 14:59] inovosel opened #110 "Reference templates by Identification name"
## Feature request

### Summary

When referencing an email template one could choose between using the template's Identification name (`templateName`) or Reference ID (`templateReferenceId`).

### Why is it needed?

Currently, templates are referenced with `templateReferenceId`, but I would like to reference them by template name to make use of multilingual templates easier. So for example I could